<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI based Natural disaster analysis</title>
    <style>
        .A{
            padding-top: 20px;
            padding-left: 20px;
            font-size:large;
            background-color:rgb(106, 205, 227);
        }
    </style>
</head>
<body>
    <div class="A"><form>
    <table width="100%"><tr><td><h2>AI based Natural disaster analysis</h2>
    </td><td align="right"style="padding-bottom:17px;"><button type="button"><a href="{{ url_for('home') }}">HOME</a>
    </button><button type="button"><a href="{{ url_for('intro') }}">INTRO</a>
    </button><button type="button"><a href="{{ url_for('predict') }}">OPEN WEBCAM</a></button></td></tr></table>
    </div>
    <img height="86%" width="100%" src="E:\NDIAC\Flask\templates\emergency-pull.png"/>
</body>
</html>